
.clear:after, .pagination:after, .clear:before, .pagination:before {
  content: "";
  display: table;
}
.clear:after, .pagination:after {
  clear: both;
}

.pagination__wrapper {
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 17%, white 83%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 17%, white 83%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
  height: 50px;
  left: 50%;
  position: relative;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  width: 100%;
}
.pagination__wrapper:before, .pagination__wrapper:after {
  background: -webkit-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.1) 17%, rgba(0, 0, 0, 0.1) 83%, transparent 100%);
  background: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.1) 17%, rgba(0, 0, 0, 0.1) 83%, transparent 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 );
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}
.pagination__wrapper:before {
  top: -1px;
}
.pagination__wrapper:after {
  bottom: -1px;
}

@-webkit-keyframes hoverAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes hoverAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.pagination {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}
.pagination li {
  display: block;
  float: left;
  padding: 5px;
}
.pagination li:first-child {
  border: none;
}
.pagination button,
.pagination span {
  background: none;
  border: none;
  border-radius: 50%;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.6);
  display: block;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  min-width: 40px;
  padding: 0;
}
.pagination button {
  outline: none;
  position: relative;
  -webkit-transition: all 170ms linear;
  transition: all 170ms linear;
}
.pagination button:before {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  content: "";
  cursor: pointer;
  height: 0;
  left: 50%;
  opacity: 0;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 170ms linear;
  transition: all 170ms linear;
  top: 50%;
  width: 0;
}
.pagination button:hover:not(.active) {
  color: black;
}
.pagination button:hover:not(.active):before {
  -webkit-animation: hoverAnimation 510ms linear forwards;
          animation: hoverAnimation 510ms linear forwards;
  height: 40px;
  width: 40px;
}
.pagination button.active {
  background: rgba(0, 0, 0, 0.1);
  color: black;
}
.pagination .prev,
.pagination .next {
  font-size: 14px;
}

/*
 * EMBED STYLING
*/
@media (max-width: 800px) {
  html,
  body {
    height: 600px;
    overflow: hidden;
    width: 800px;
  }
}
