section .hv-container {
    flex-grow: 1;
    overflow: auto;
    justify-content: center;
    /*padding: 50px 0;*/
}
.boxed-tree {
    padding: 0;
    transform: translate3d(0, 0, 0);
    z-index: 90;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    min-width: 100px;
}
.boxed-tree-headline {
    font-size: 18px;
    padding: 2px 3px;
    position: relative;
    text-align: center;
    border-radius: 4px 4px 0 0;
}

.boxed-tree ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.boxed-tree ul li span {
    float: right;
    color: #333;
}
.boxed-tree ul li {
    font-size: 14px;
    color: #666;
    padding-bottom: 1px;
}
.hv-item-parent p {
    font-weight: bold;
    color: #fff;
}
.hv-wrapper {
    display: flex;
}
.hv-wrapper .hv-item {
    display: flex;
    flex-direction: column;
    margin: auto;
}
.hv-wrapper .hv-item .hv-item-parent {
    margin-bottom: 50px;
    position: relative;
    display: flex;
    justify-content: center;
}
.hv-wrapper .hv-item .hv-item-parent:after {
    position: absolute;
    content: "";
    width: 2px;
    height: 25px;
    bottom: 0;
    left: 50%;
    background-color: #eee;
    transform: translateY(100%);
}
.hv-wrapper .hv-item .hv-item-children {
    display: flex;
    justify-content: center;
}
.hv-wrapper .hv-item .hv-item-children .hv-item-child {
    padding: 0 15px;
    position: relative;
}
.hv-wrapper .hv-item .hv-item-children .hv-item-child:before,
.hv-wrapper .hv-item .hv-item-children .hv-item-child:not(:only-child):after {
    content: "";
    position: absolute;
    background-color: #eee;
    left: 0;
}
.hv-wrapper .hv-item .hv-item-children .hv-item-child:before {
    left: 50%;
    top: 0;
    transform: translateY(-100%);
    width: 2px;
    height: 25px;
}
.hv-wrapper .hv-item .hv-item-children .hv-item-child:after {
    top: -25px;
    transform: translateY(-100%);
    height: 2px;
    width: 100%;
}
.hv-wrapper .hv-item .hv-item-children .hv-item-child:first-child:after {
    left: 50%;
    width: 50%;
}
.hv-wrapper .hv-item .hv-item-children .hv-item-child:last-child:after {
    width: calc(50% + 1px);
}

.boxeds hr {
    margin: 0;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.boxeds {
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgb(0 0 0 / 30%);
}